@font-face {
    font-family: 'Vazir';
    src: url('fonts/Vazir.woff2') format('woff2'),
         url('fonts/Vazir.woff') format('woff'),
         url('fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, div, p, span, article, section {
    font-family: 'Vazir', Tahoma, sans-serif !important;
    direction: rtl !important;
    text-align: right !important;
    line-height: 1.8 !important;
}

/* اعمال تنظیمات روی ورودی‌ها و ادیتورها */
input, textarea, [role="textbox"], [aria-label="Message body"] {
    font-family: 'Vazir', Tahoma, sans-serif !important;
    text-align: justify !important;
}
